<h1>User List<h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <div style="display:flex; flex-direction: column; justify-content: space-between;width:50%;" >
        <div style="display:flex; flex:1; flex-direction: column">
            <div style="display:flex"><span style="flex:1">Name: </span><%= user.first_name %></div>
            <div style="display:flex"><span style="flex:1">Roll Number: </span><%= user.roll_no %></div>
            <div style="display:flex"><span style="flex:1">Address: </span><%= user.get_full_address %></div>
        </div>
        <div style="display:flex; justify-content: space-between;width: 50%;min-width:fit-content;" >
          <%= link_to 'show', user_path(user) %>
          <%= link_to 'edit', edit_user_path(user) %>
          <%= link_to 'delete', user_path(user), data: {turbo_method: :delete} %>
          <!-- <%= button_to 'delete', user_path(user), method: :delete %> -->
        </div>
      </div>
    </li>
    <div style="width: 100%; height: 2px; background-color: lightgrey "></div>
  <% end %>
</ul>
<%= link_to "Add a new user", new_user_path %>
