<h1>User List<h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <div style="display:flex; justify-content: space-between;width: 50%;min-width:fit-content;" >
        <div style="display:flex; flex:1">
            <span style="flex:1">Name: </span><%= user.name %>
        </div>
        <div style="margin: 0 2vw; width: 2px; height: inherit; background-color: lightgrey "></div>
        <div style="display:flex; flex:1">
            <span style="flex:1">Roll Number: </span><%= user.roll_no %>
        </div>
      </div>
      <div style="display:flex; justify-content: space-between;width: 50%;min-width:fit-content;" >
        <%= link_to 'show', user_path(user) %>
        <%= link_to 'edit', edit_user_path(user) %>
        <%= link_to 'delete', edit_user_path(user) %>
      </div>
    </li>
  <% end %>
</ul>
<!-- <%= link_to "Add a new user", new_user_path %> -->
